<table style="background-color:rgba(0, 1, 0, 0.44);color:beige; width:1400px">
                <th style="background-color:rgba(246, 19, 19, 0.44)">
                        <h5>New Blog</h5>
                </th>
                <th>
                    <i class="fa fa-arrow-left"></i><%= link_to "back", :back %> 
    
                </th>
                <th>
                        <h5><%=link_to "Home", root_path%></h5>
                </th>
                <th>
                        <%if (user_signed_in?) %> 
                        <h5><%= link_to "My blog",my_blog_path %></h5>
                        <%end%>
                </th>
                <th>
                        <h5><%= link_to "Profile ", edit_user_registration_path %></h5>
                </th>
                <th>
                        <%if !(user_signed_in?) %>
                        <h5><%= link_to "Log In", new_user_session_path%></h5>
                        <%end%>
                </th>
                <th>
                        <h5><%= link_to "All Blogs", blog_post_home_path%></h5>
                </th>
                <th>
                        <%if (user_signed_in?) %>
                        <h5><%= link_to "Liked Blog",liked_path %></h5>
                        <%end%>

                </th>
                <th>
                        <h5><%= link_to "Trending Blogs", treanding_blog_path%></h5>
                </th>
                <th>
                        <%if (user_signed_in?) %>
                        <h5><%= button_to "log out " , destroy_user_session_path ,method: :delete, data: {turbo_confirm: "are you sure"}%></h5>
                        <%end%>
                </th>
                <th>
                        <h5> <form class="form-inline my-2 my-lg-0" action="/search" >
                                <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" method="get" aria-label="Search" >
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Blog</button>
                        </form></h5>
                </th>
        </table>


<%=render partial: "form" , locals:{blog_post: @blog_post}%>
<div>
        <form action ="/blog_posts/new">Blog Catagory:
                        <select name="s">
                                <option value="1" >General</option>
                                <option value="2" >Sports</option>
                                <option value="3" >Education</option>
                                <option value="4" >Medical</option>
                                <option value="5" >Others</option>
                        </select>
                        <button type="submit">category</button>
        </form>
    </div>
